#head {
    text-align: center;
    font-family: 'ROG Fonts v1.6';
    margin: 30px 10px 90px 10px;
    font-size: 70px;
    color:lightsteelblue;
}

.para {
    text-align: center;
    margin:5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: orangered;
}
#img {
    text-align: center;
    margin: 0px 200px 0px 200px;
    color: orangered;
}
#form {
    text-align: center;
    margin: 30px 0px 50px 600px;
    padding: 20px 10px 5px 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightsteelblue;
    border: 3px solid #FFF;
    border-radius: 300px;
    box-shadow: 0 0 2px #888;
    height: 300px;
    width: 300px;
}
#logout {
    text-align: right;
    margin: 4% 4% 0% 0%;
}
#identity {
    margin-top: 0%;
    text-align: center;
    color: black;
    font-family: 'Bahnschrift','Harlow Solid','Eras ITC','Forte';
}