#head {
    text-align: center;
    font-family: 'ROG Fonts v1.6';
    margin: 30px 10px 90px 10px;
    font-size: 70px;
    color:lightsteelblue;
}

.para {
    text-align: center;
    margin:5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: orangered;
}
#img {
    text-align: center;
    margin: 0px 200px 0px 200px;
    color: orangered;
}
#form {
    text-align: center;
    margin: 30px 200px 70px 200px;
    padding: 20px 10px 30px 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightsteelblue;
}
#ffield 
{
  text-align:left;
  font-family:'Ebrima';
  font-style:normal;
  font-variant:small-caps;
  color:Background;
  font-style:oblique;
}
#ouf {
    margin: 0px 0px 30px 360px;
    text-align: left;
}
#identity {
    margin-top: 0%;
    text-align: center;
    color: black;
    font-family: 'Bahnschrift','Harlow Solid','Eras ITC','Forte';
}