#head {
    text-align: center;
    font-family: 'ROG Fonts v1.6';
    margin: -3% 10px 60px 10px;
    font-size: 70px;
    color:lightsteelblue;
}

.userinfo {
    margin-left: 0%;
    text-align: center;
    font-family: 'Felix Titling','Bookman Old Style','Perpetua Titling MT'
}

#username{
    margin-left:43%;
    padding:10px 0px 10px 0px;
    background-color:aquamarine;
    border:hidden 1px white;
    border-radius:60px;
    height:20px;
    width:200px;
    font-size:15px;
}

.search {
    margin: 5% 0% 0% 32%;
    padding: 10px;
    text-align: center;
    border-radius: 90px;
    height: 20px;
    width: 500px;
    //border: 6px dotted slategrey;
    background-color: lightsteelblue;
}

#search {
}

#searchb{
    margin-top:4%;
    background-color:coral;
    height:30px;
    width:80px;
    color:whitesmoke;
}

#logout {
    text-align: right;
    margin: 4% 4% 0% 0%;
}

#identity {
    margin-top: 14%;
    text-align: center;
    color: black;
    font-family: 'Bahnschrift','Harlow Solid','Eras ITC','Forte';
}