<!DOCTYPE html>

<html>
<link rel="stylesheet" type="text/css" href="{{url_for ('static',filename='userlg.css')}}" />
<head>
    <title>Readers Groove - {{fname}} </title>
</head>
<body>
    <div id="logout"><button type="button"><a href="/login">Logout</a></button></div>
    <h1 id="head">Readers Groove</h1>
    <div class="userinfo">
        <img src="static/genericuser.png" height="100px" width="100px" /><br />
        <div id="username">{{usrnm}}</div>
    </div>
    <form class="search" action="{{url_for('search')}}" method="post">
        <input id="search " type="search" name="search" placeholder="search" />
        <br />
        <button id="searchb" type="submit" name="searchb" placeholder="Find">Find</button>
        <div class="result">
            {% for res in results %}
            {% if loop.index%4==1 %}
            <h4>Title : {{res}} </h4>
            {% endif %}
            {% if loop.index%4==2 %}
            <h4>Author : {{res}} </h4>
            {% endif %}
            {% if loop.index%4==3 %}
            <h4>Publishing year : {{res}} </h4>
            {% endif %}
            {% if loop.index%4==0 %}
            <h4>ISBN : {{res}} </h4>
            {% endif %}
            {% endfor %}
        </div>
    </form>
</body>
    <div id="identity">Created and Crafted with love </br>By Abhishek Vyas</div>
</html>